<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>呵呵</title>
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
<!--    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>-->

</head>
<body>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>性别</th>
            <th>生日</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="people:${index}">
            <td th:text="${people.id}"></td>
            <td>[[${people.name}]]</td>
            <td th:text="${people.email}"></td>
            <td th:text="${people.gender} == 1 ? '男' : '女'"></td>
            <td th:text="${#dates.format(people.birth, 'yyy-MMM-ddd HH:mm')}"></td>
            <td>
                <a class="btn btn-sm btn-primary" href="#" th:href="@{/edit/} + ${people.id}">编辑</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-sm btn-success" href="#" th:href="@{/add}">添加人员</a>
    <button id="a1" type="button">发送4</button>
    <button id="b1" type="button">发送5</button>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
        $(function() {

        })

        $("#b1").click(function() {

            alert("aaabbb")
        })

        $("#a1").click(function() {

<!--            var data = {-->
<!--                'id' : $('input[name="id"]').val(),-->
<!--                'powerFreq' : $('input[name="powerFreq"]').val(),-->
<!--                'ratedVol' : $('input[name="ratedVol"]').val()-->
<!--            };-->

            var data = {
                'id' : 'aa',
                'powerFreq' : 'bb',
                'ratedVol' : 'cc'
            };

            alert("aaa")
            $.ajax({
                type: "POST",
                url: "/kaka",
                contentType: 'application/json; charset=utf-8',
                async:true,
<!--                data: {'name':'jenny'},-->
                data: JSON.stringify(data),
                dataType: "JSON",
                success: function(result) {
                    alert(result.aaa);
                }
            })
        })
</script>

</body>

</html>